@model Entry_Name.Models.Person

@{
    ViewData["Title"] = "EntryName by botanick02";
}

<div class="NameInputWrapper">
    <h3>Hello, enter your name:</h3>
    <form asp-action="HelloName" method="post">
        <input asp-for="Name" type="text" id="name" name="name" size="30" required/>
        <input type="submit" value="GO"/>
    </form>
</div>