@model Entry_Name.Models.PersonViewModel

@{
    ViewData["Title"] = "EntryName by botanick02";
}

<div class="NameInputWrapper">
    <h3>Hello, enter your name:</h3>
    <form asp-action="HelloName" method="post">
        <div class="input">
            <input asp-for="Name" type="text" id="name" name="name" size="30"/>
            <input type="submit" value="GO"/>
        </div>
        <div asp-validation-summary="All"></div>
    </form>
</div>